 /*웹페이지의 레이아웃 구성 - 다른 배경색 적용 1*/
header{
  background-color:orange;
}

/*웹페이지의 레이아웃 구성 - 다른 배경색 적용 2*/
article{
  background-color:green;
  margin-bottom: 40px;
}

/*웹페이지의 레이아웃 구성 - 다른 배경색 적용 3*/
nav{
  border:1px solid;
  position : fixed;
  top : 0;
  right : 0;
  background-color: yellow;
}

 /*웹페이지의 레이아웃 구성 - 다른 배경색 적용 4*/
footer {
  background-color : black;
  color : white;
  font-size: 15px;
  right: 45%;
  position : fixed;
  bottom: 0
}

/*테이블 이용해 시간표 만들기(저의 시간표 모두를 첨부하지 않고 교수님의 의도에 맞게 시간표를 간추렸습니다.)
전체 테이블의 테두리는 하나의 선으로 표시
시간표 병합은 td 태그 안에 rowspan 사용
padding -> 20px
*/
table, th,td{
  border: 1px solid;
  border-collapse: collapse;
  padding: 20px;
}
/*요일과 교시- 굵은글자 배경색 가운데 정렬*/
.day,th{
  font-weight: bold;
  background : yellow;
  text-align: center;
}
/*과목이름 가운데정렬*/
.sub{
  text-align: center;
}
/*table 표제 2018년 1학기 파란색 bold*/
#Ta{
  color : blue;
  font-weight: bold;
}

/*자신의 사진을 위한 이미지
상대주소 URL을 사용 width와 height를 이용해 사진 크기 조정
이미지 테두리 굵게 표시, 가운데 배치*/
img{
   width:400px;
   height:350px;
   border:10px solid;
   display:block;
   margin-left : auto;
   margin-right: auto;
   text-align: center;
}

 /*웹페이지의 타이틀 가운데 정렬 글자크기 26px bold 폰트*/
.Title{
  text-align : center;
  font-size : 26px;
  font-weight: bold;
  color : blue;
  background-color : pink;
}

/*h1,h2,h3등을 이용하 제목구성
글자색, 글자 크기, 밑줄, 왼쪽정렬, 글자 모양*/
.subject{
  color : white;
  font-size: 24px;
  text-decoration: underline;
  text-align: left;
  font-family: fantasy,cursive,sans-serif;
}

.go{
  font-size : 20px;
  font-weight: bold;
}

/*두개이상의 문단
첫 문장은 들여쓰기, 글자 색, 글자크기 14px, 왼쪽정렬 글자 정리*/
#article,#study_show{
  text-indent: 5px;
  color : yellow;
  font-size : 14px;
  text-align : left;
  font-family: serif;
  background-color: black;
}
/*순서없는 list ㅁ마커 사용
*/
#opentutorials{
  list-style-type: square;
}
/*리스트 들여쓰기*/
.opentutorialsList{
  text-indent : 5px;
}
/*방문하지 않은 링크, 방문했던 링크, 사용자 마우스 링크에 올려져 있을 때 링크 색깔*/
a{
  color : black;
}
a:hover{
  color: blue;
}
a:visited{
  color: white;
}
